* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}


body{
  background-color: black;

}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: flex-end;
  padding-bottom: 50px;
}

.bar img {
  cursor: pointer;
  width: 30px;
}

.cart{
  cursor: pointer;
  display: flex;
  align-items: center;
}

header .header_tabs {
  display: none;
  /* display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin-left: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 4px;
  align-items: center;
  justify-content: center; */
}

.sidebar {
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  align-items: center;
  padding: 50px 10px 150px 10px;
  background-size: contain;
  font-size: 2.8rem;
  font-weight: 700;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .cross {
  width: 50px;
  align-self: flex-start;
  padding-bottom: 20px;
}

.sidebar img {
  width: 100%;
}

header .logo img {
  width: 80px;
}

header .cart img {
  width: 30px;
}

.portfolio_tags{
  display: flex;
  flex-direction: column;
  padding: 35px 20px;
  
}

.heading{
  padding-bottom: 20px;
}

.tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p1, .p2 {
  width: 330px;
  padding-bottom : 20px;
}

.p1 img, .p2 img{
  max-width: 100%;
}

.more{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 30px;
}

.more h1{
  color: rgb(180, 180, 180);
}


@media (min-width: 400px){
.p1, .p2 {
 width:380px;
}
}

@media (min-width: 500px){
.p1, .p2 {
 width:460px;
}
}

@media (min-width: 600px){
.p1, .p2 {
 width:560px;
}
}

@media (min-width: 750px){

  .tags{
    flex-direction: row;
  }

  .p1{
    margin-right: 20px;
  }
}