* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: flex-end;
  padding-bottom: 50px;
}

.bar img {
  width: 30px;
}

.cart {
  cursor: pointer;
  display: flex;
  align-items: center;
}

header .header_tabs {
  display: none;
  /* display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin-left: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 4px;
  align-items: center;
  justify-content: center; */
}

.sidebar {
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  align-items: center;
  padding: 50px 10px 150px 10px;
  background-size: contain;
  font-size: 2.8rem;
  font-weight: 700;
  position: fixed;
  inset: 0;
  z-index: 1;
}

.sidebar a {
  text-decoration: none;
}

.bar img {
  cursor: pointer;
}

.sidebar .cross {
  width: 50px;
  align-self: flex-start;
  padding-bottom: 20px;
}

.sidebar img {
  width: 100%;
}

header .logo img {
  width: 80px;
}

header .cart img {
  width: 30px;
}

.portraits {
  padding: 20px;
}

.portraits h1 {
  padding-bottom: 10px;
}

.images {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
}

.images img {
  max-width: 100%;
}
